<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SLICE"
            id="org.etri.slice.tools.adl.project.SLICE">
      </category>
      <wizard
            category="org.etri.slice.tools.adl.project.SLICE"
            class="org.etri.slice.tools.adl.project.wizards.SLICENewFileWizard"
            hasPages="true"
            icon="icons/slice_new_file.png"
            id="org.etri.slice.tools.adl.project.wizards.SLICENewFileWizard"
            name="SLICE New ADL File">
      </wizard>
      <wizard
            category="org.etri.slice.tools.adl.project.SLICE"
            class="org.etri.slice.tools.adl.project.wizards.SLICENewProjectWizard"
            icon="icons/slice_new_project.png"
            id="org.etri.slice.tools.adl.project.wizards.SLICEProjectWizard"
            name="SLICE Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.etri.slice.tools.adl.project.SLICE.examples"
            name="Examples"
            parentCategory="org.etri.slice.tools.adl.project.SLICE">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.etri.slice.tools.adl.project.SLICE/org.etri.slice.tools.adl.project.SLICE.examples"
            class="org.etri.slice.tools.adl.project.wizards.examples.SLICECarSampleProjectWizard"
            hasPages="false"
            icon="icons/slice_new_project.png"
            id="org.etri.slice.tools.adl.project.carsamplewizard"
            name="SLICE Car Example Project"
            project="true">
      </wizard>
   </extension>
</plugin>
