<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SLICE"
            id="org.etri.slice.tools.adl.project">
      </category>
      <wizard
            category="org.etri.slice.tools.adl.project"
            class="org.etri.slice.tools.adl.project.wizards.SLICENewFileWizard"
            hasPages="true"
            icon="icons/slice_new_file.png"
            id="org.etri.slice.tools.adl.project.wizards.SLICENewFileWizard"
            name="SLICE New ADL File">
      </wizard>
      <wizard
            category="org.etri.slice.tools.adl.project"
            class="org.etri.slice.tools.adl.project.wizards.SLICENewProjectWizard"
            icon="icons/slice_new_project.png"
            id="org.etri.slice.tools.adl.project.wizards.SLICEProjectWizard"
            name="SLICE Project"
            project="true">
      </wizard>
   </extension>
</plugin>
