<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SLICE"
            id="org.etri.slice.tools.jmxconsole">
      </category>
      <view
            name="SLICE JMX Console"
            inject="true"
            icon="icons/jmx_console.gif"
            category="org.etri.slice.tools.jmxconsole"
            class="org.etri.slice.tools.jmxconsole.views.SLICEJMXConsoleView"
            id="org.etri.slice.tools.jmxconsole.views.SLICEJMXConsoleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="org.etri.slice.tools.jmxconsole.views.SLICEJMXConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.etri.slice.tools.jmxconsole.editors.SLICEJMXEditor"
            default="false"
            icon="icons/jmx_console.gif"
            id="org.etri.slice.tools.jmxconsole.editors"
            name="JMXConnection">
      </editor>
   </extension>

</plugin>
