<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.etri.org/slice/tools/adl/Domainmodel"
			class = "org.etri.slice.tools.adl.domainmodel.DomainmodelPackage"
			genModel = "model/generated/Domainmodel.genmodel" />
	</extension>
 <extension
       id="adl"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.e4.ui.workbench.swt.E4Application"
          name="org.etri.slice.adl.product">
       <property
             name="appName"
             value="org.etri.slice.adl.product">
       </property>
    </product>
 </extension>
</plugin>
