/.DomainmodelScopeProvider.java._trace
/DomainmodelScopeProvider.java
/.DomainmodelScopeProvider.xtendbin
/.DomainModelXImportSectionNamespaceScopeProvider.java._trace
/.DomainModelXImportSectionNamespaceScopeProvider.xtendbin
/DomainModelXImportSectionNamespaceScopeProvider.java
